@model Pharma.Web.Models.HomeViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layouts.cshtml";
}

@{Html.RenderAction("Slide", "Module"); }

<div class="container">
    <div class="row">
        <div class="col-md-4">
            @{ Html.RenderAction("Category", "Home");}
        </div>
        <div class="album bg-light col-md-8">

            <div class="mb-2">
                <div class="">
                    <h3 class="p-2 text-uppercase">Dược phẩm bán chạy</h3>
                </div>
                @{Html.RenderAction("ProductHot", "Module"); }
            </div>
            <div class="">
                <h3 class="p-2 text-uppercase">Dược phẩm mới</h3>
            </div>
            <div class="container">
                @{ Html.RenderAction("HomeProduct", "Home");}
            </div>
        </div>
    </div>

    <div class="container px-4 py-5" id="custom-cards">
        <h2 class="pb-2 border-bottom">Tin Tức</h2>

        @Html.Action("PostStories", "Home")

    </div>
</div>