<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Thêm mới đơn vị tính</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="admin#!/admin">Trang chủ</a></li>
                    <li class="breadcrumb-item">Thuốc</li>
                    <li class="breadcrumb-item"><a ui-sref="units">Đơn vị tính</a></li>
                    <li class="breadcrumb-item active">Thêm mới</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <!-- Horizontal Form -->
    <div class="card card-default">
       
        <form class="form-horizontal" novalidate name="frmAddUnit" role="form" ng-submit="AddUnit()">
            <div class="card-body row">

                <div class="col-md-6">

                    <div class="form-group row">
                        <label for="name" class="col-sm-4 col-form-label">Tên đơn vị</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" ng-maxlength="256" required name="name" ng-model="unit.Name">
                            <span ng-show="frmAddUnit.name.$invalid && !frmAddUnit.name.$error.maxlength" class="badge badge-pill badge-danger">Phải nhập tên đơn vị</span>
                            <span ng-show="frmAddUnit.name.$error.maxlength" class="badge badge-pill badge-danger">Tên đơn vị chỉ được 256 ký tự</span>
                        </div>
                    </div>

                </div>

                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="offset-sm-2 col-sm-4">
                            <div class="form-check">
                                <label class="form-check-label" for="status">
                                    <input type="checkbox" class="form-check-input" name="status" ng-model="unit.Status" ng-checked="unit.Status">Kích hoạt
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.card-body -->
            <div class="card-footer">
                <button ui-sref="units" class="btn btn-default">Hủy</button>
                <button type="submit" ng-disabled="frmAddUnit.$invalid" class="btn btn-success fa-pull-right">Lưu</button>
            </div>
            <!-- /.card-footer -->
        </form>
    </div>
    <!-- /.card -->
</section>
<!-- /.content -->