<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Thêm mới slide</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="admin#!/admin">Trang chủ</a></li>
                    <li class="breadcrumb-item">Cấu hình</li>
                    <li class="breadcrumb-item"><a ui-sref="slides">Slide</a></li>
                    <li class="breadcrumb-item active">Thêm mới</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <!-- Horizontal Form -->
    <div class="card card-default">

        <form class="form-horizontal" novalidate name="frmAddSlide" role="form" ng-submit="AddSlide()">
            <div class="card-body row">

                <div class="col-md-6">

                    <div class="form-group row">
                        <label for="name" class="col-sm-4 col-form-label">Tên chủ thể</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" ng-maxlength="256" required  name="name" ng-model="slide.Name">
                            <span ng-show="frmAddSlide.name.$invalid && !frmAddSlide.name.$error.maxlength" class="badge badge-pill badge-danger">Phải nhập tên slide</span>
                            <span ng-show="frmAddSlide.name.$error.maxlength" class="badge badge-pill badge-danger">Tên slide chỉ được 256 ký tự</span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="decription" class="col-sm-4 col-form-label">Mô tả ngắn</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" ng-maxlength="500" name="decription" ng-model="slide.Description">
                            <span ng-show="frmAddSlide.decription.$error.maxlength" class="badge badge-pill badge-danger">Mô tả ngắn chỉ được 500 ký tự</span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="offset-sm-2 col-sm-4">
                            <div class="form-check">
                                <label class="form-check-label" for="status">
                                    <input type="checkbox" class="form-check-input" name="status" ng-model="slide.Status" ng-checked="slide.Status">Kích hoạt
                                </label>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-6">

                    <div class="form-group row">
                        <label for="url" class="col-sm-4 col-form-label">Đường dẫn</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" required name="url" ng-model="slide.Url">
                            <span ng-show="frmAddSlide.url.$invalid" class="badge badge-pill badge-danger">Phải nhập đường dẫn</span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="displayOrder" class="col-sm-4 col-form-label">Sắp xếp</label>
                        <div class="col-sm-8">
                            <input type="number" class="form-control" required name="displayOrder" ng-model="slide.DisplayOrder">
                            <span ng-show="frmAddSlide.displayOrder.$invalid" class="badge badge-pill badge-danger">Phải nhập thứ tự</span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="image" class="col-sm-4 col-form-label">Hình ảnh</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" ng-maxlength="256" name="image" ng-model="slide.Image">
                            <span ng-show="frmAddSlide.image.$error.maxlength" class="badge badge-pill badge-danger">Hình ảnh chỉ được 256 ký tự</span>
                            <button type="button" class="btn btn-default" ng-click="ChooseImage()">Chọn ảnh</button>
                        </div>
                    </div>

                </div>

            </div>
            <!-- /.card-body -->
            <div class="card-footer">
                <button ui-sref="slides" class="btn btn-default">Hủy</button>
                <button type="submit" ng-disabled="frmAddSlide.$invalid" class="btn btn-success fa-pull-right">Lưu</button>
            </div>
            <!-- /.card-footer -->
        </form>
    </div>
    <!-- /.card -->
</section>
<!-- /.content -->