<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Trang quản trị</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link href="~/Assets/admin/libs/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Assets/admin/libs/fontawesome/font-awesome/css/all.min.css" rel="stylesheet" />
    <link href="~/Assets/admin/libs/toastr/toastr.js/toastr.css" rel="stylesheet" />
    <link href="~/Assets/admin/libs/angular-loading-bar/loading-bar.css" rel="stylesheet" />
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Assets/admin/css/adminlte.min.css">
</head>
<body class="hold-transition sidebar-mini" ng-app="pharma" ng-controller="rootController">
    <div ui-view></div>
    <!-- jQuery -->

    <script src="~/Assets/admin/libs/jquery/jquery.js"></script>
    <!-- Bootstrap 5 -->
    <script src="~/Assets/admin/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Assets/admin/js/adminlte.min.js"></script>
    <!-- Begin embed angularJS -->
    <script src="~/Assets/admin/libs/angularjs/angular.js"></script>
    <script src="~/Assets/admin/libs/angular-ui-router/angular-ui-router.js"></script>
    <script src="~/Assets/admin/libs/toastr/toastr.js/toastr.min.js"></script>
    <script src="~/Assets/admin/libs/bootbox/bootbox.js/bootbox.js"></script>
    <script src="~/Assets/admin/libs/ckeditor/ckeditor/ckeditor.js"></script>
    <script src="~/Assets/admin/libs/ckfinder/ckfinder.js"></script>
    <script src="~/Assets/admin/libs/ngBootbox/node_modules/ngbootbox/ngBootbox.js"></script>
    <script src="~/Assets/admin/libs/ng-ckeditor/ng-ckeditor/ng-ckeditor.js"></script>
    <script src="~/Assets/admin/libs/angular-local-storage/angular-local-storage.js"></script>
    <script src="~/Assets/admin/libs/angular-loading-bar/loading-bar.js"></script>

    <script src="~/app/shared/modules/pharma.common.js"></script>
    <script src="~/app/shared/filters/statusFilter.js"></script>
    <script src="~/app/shared/services/apiService.js"></script>
    <script src="~/app/shared/directives/pagerDirective.js"></script>
    <script src="~/app/shared/services/notificationService.js"></script>
    <script src="~/app/shared/services/authData.js"></script>
    <script src="~/app/shared/services/authenticationService.js"></script>
    <script src="~/app/shared/services/loginService.js"></script>
    <script src="~/app/shared/services/commonService.js"></script>

    <script src="~/app/components/footers/footers.module.js"></script>
    <script src="~/app/components/product_categories/productCategories.module.js"></script>
    <script src="~/app/components/products/products.module.js"></script>
    <script src="~/app/components/units/units.module.js"></script>
    <script src="~/app/app.js"></script>
    <script src="~/app/components/home/rootController.js"></script>

    <script src="~/app/components/footers/footerListController.js"></script>
    <script src="~/app/components/footers/footerEditController.js"></script>
    <script src="~/app/components/footers/footerAddController.js"></script>
    <script src="~/app/components/product_categories/productCategoryListController.js"></script>
    <script src="~/app/components/product_categories/productCategoryAddController.js"></script>
    <script src="~/app/components/product_categories/productCategoryEditController.js"></script>
    <script src="~/app/components/products/productAddController.js"></script>
    <script src="~/app/components/products/productListController.js"></script>
    <script src="~/app/components/products/productEditController.js"></script>
    <script src="~/app/components/units/unitListController.js"></script>
    <script src="~/app/components/units/unitAddController.js"></script>
    <script src="~/app/components/units/unitEditController.js"></script>
    <script src="~/app/components/login/loginController.js"></script>
    <script src="~/app/components/home/homeController.js"></script>

</body>
</html>
