<div class="container">
    <header class="d-flex flex-wrap py-4 mb-4 border-bottom row">
        <a href="/" class="col-md-4 d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <i class="fa-solid fa-pills fs-1" style="color: #1E3B29"></i>
            <span class="fs-1 text-uppercase fw-bold" style="color: #D1CAC3 ">Hoang's Pharma</span>
        </a>

        <ul class="col-md-5 justify-content-center nav navbar-brand fw-bold" style="color: #1E3B29">
            <li class="nav-item"><a href="/" style="color: #1E3B29" class="nav-link active text-dark" aria-current="page"><i class="fa-solid fa-house-chimney-medical"></i>&nbsp;Trang chủ</a></li>
            <li class="nav-item"><a href="/trang/gioi-thieu.html" style="color: #1E3B29" class="nav-link text-dark"><i class="fa-solid fa-circle-info"></i>&nbsp;Giới thiệu</a></li>
            <li class="nav-item"><a href="/tat-ca-tin-tuc.html" style="color: #1E3B29" class="nav-link text-dark"><i class="fa-regular fa-newspaper"></i>&nbsp; Bài viết</a></li>
            <li class="nav-item"><a href="/lien-he.html" style="color: #1E3B29" class="nav-link text-dark"><i class="fa-solid fa-voicemail"></i>&nbsp; Liên hệ</a></li>
        </ul>
        <div class="col-md-3">
            <form class="input-group" method="get" role="search" action="/tim-kiem.html">
                <input type="text" id="txtKeyword" name="keyword" class="form-control form-control-dark" placeholder="Từ khóa..." aria-label="Search">
                <input type="submit" id="btnSearch" class="btn btn-outline-dark" value="Tìm">
            </form>
        </div>
    </header>
</div>