<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    
    <meta name="description" content="">
    <title>Pharma Hoang</title>

    <link href="~/Assets/client/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Assets/client/font-awesome/css/all.css" rel="stylesheet" />
    <link href="~/Assets/client/libs/jqueryui/themes/smoothness/jquery-ui.min.css" rel="stylesheet" />

    <link href="~/Assets/client/css/headers.css" rel="stylesheet" />
    <link href="~/Assets/client/css/carousel.css" rel="stylesheet" />
    <link href="~/Assets/client/css/sidebars.css" rel="stylesheet" />
    <link href="~/Assets/client/css/blog.css" rel="stylesheet" />
    <link href="~/Assets/client/css/Detail.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
</head>
<body class="my-0 py-0">
    <div class="mt-0" style="background-color: #E56D00; ">
        @{ Html.RenderAction("Header", "Home");}
    </div>

    @RenderBody()

    <div style="background-color: #E56D00; ">
        @{ Html.RenderAction("Footer", "Home");}
    </div>

    <script src="~/Assets/client/js/bootstrap.bundle.js"></script>
    <script src="~/Assets/admin/libs/jquery/jquery.min.js"></script>
    <script src="~/Assets/client/libs/jqueryui/jquery-ui.min.js"></script>
    <script src="~/Assets/client/js/common.js"></script>
    <script src="~/Assets/client/js/sidebars.js"></script>

    @RenderSection("footerJS",required:false)
</body>
</html>
