<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Thêm mới chủ thể</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="admin#!/admin">Trang chủ</a></li>
                    <li class="breadcrumb-item">Chủ thể</li>
                    <li class="breadcrumb-item"><a ui-sref="subjects">Chủ thể</a></li>
                    <li class="breadcrumb-item active">Thêm mới</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <!-- Horizontal Form -->
    <div class="card card-default">
        
        <form class="form-horizontal" novalidate name="frmAddSubject" role="form" ng-submit="AddSubject()">
            <div class="card-body row">

                <div class="col-md-6">

                    <div class="form-group row">
                        <label for="name" class="col-sm-4 col-form-label">Tên chủ thể</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" ng-maxlength="256" required ng-change="GetSeoTitle()" name="name" ng-model="subject.Name">
                            <span ng-show="frmAddSubject.name.$invalid && !frmAddSubject.name.$error.maxlength" class="badge badge-pill badge-danger">Phải nhập tên Chủ thể</span>
                            <span ng-show="frmAddSubject.name.$error.maxlength" class="badge badge-pill badge-danger">Tên danh mục chỉ được 256 ký tự</span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="phone" class="col-sm-4 col-form-label">Số điện thoại</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" ng-maxlength="50" name="phone" ng-model="subject.Phone">
                            <span ng-show="frmAddSubject.phone.$error.maxlength" class="badge badge-pill badge-danger">Số điện thoại chỉ được 50 ký tự</span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="email" class="col-sm-4 col-form-label">Email</label>
                        <div class="col-sm-8">
                            <input type="email" class="form-control" ng-maxlength="256" name="email" ng-model="subject.Email">
                            <span ng-show="frmAddSubject.email.$error.maxlength" class="badge badge-pill badge-danger">Email chỉ được 256 ký tự</span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="address" class="col-sm-4 col-form-label">Địa chỉ</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" ng-maxlength="256" name="address" ng-model="subject.Address">
                            <span ng-show="frmAddSubject.address.$error.maxlength" class="badge badge-pill badge-danger">Địa chỉ chỉ được 256 ký tự</span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="decription" class="col-sm-4 col-form-label">Mô tả ngắn</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" ng-maxlength="500" name="decription" ng-model="subject.Description">
                            <span ng-show="frmAddSubject.decription.$error.maxlength" class="badge badge-pill badge-danger">Mô tả ngắn chỉ được 500 ký tự</span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="offset-sm-2 col-sm-4">
                            <div class="form-check">
                                <label class="form-check-label" for="status">
                                    <input type="checkbox" class="form-check-input" name="status" ng-model="subject.Status" ng-checked="subject.Status">Kích hoạt
                                </label>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-6">

                    <div class="form-group row">
                        <label for="alias" class="col-sm-4 col-form-label">Tiêu đề SEO</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" ng-maxlength="256" required name="alias" ng-model="subject.Alias">
                            <span ng-show="frmAddSubject.alias.$invalid && !frmAddSubject.alias.$error.maxlength" class="badge badge-pill badge-danger">Phải nhập tiêu đề SEO</span>
                            <span ng-show="frmAddSubject.alias.$error.maxlength" class="badge badge-pill badge-danger">Tiêu đề SEO chỉ được 256 ký tự</span>
                        </div>
                    </div>


                    <div class="form-group row">
                        <label for="typeSub" class="col-sm-4 col-form-label">Loại chủ thể</label>
                        <div class="col-sm-8">
                            <select name="typeSub" required class="form-control" ng-model="subject.TypeSub" ng-options="option.Alias as option.Name for option in TypeSubjects">
                                <option value="">--- Chọn loại chủ thể ---</option>
                            </select>
                            <span ng-show="subject.TypeSub==null" class="badge badge-pill badge-danger">Phải chọn loại chủ thể</span>
                            <input type="hidden" name="typeSub" ng-model="subject.TypeSub" />
                        </div>
                    </div>

                </div>

            </div>
            <!-- /.card-body -->
            <div class="card-footer">
                <button ui-sref="subjects" class="btn btn-default">Hủy</button>
                <button type="submit" ng-disabled="frmAddSubject.$invalid" class="btn btn-success fa-pull-right">Lưu</button>
            </div>
            <!-- /.card-footer -->
        </form>
    </div>
    <!-- /.card -->
</section>
<!-- /.content -->